/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 09/03/2015, 23:02:27
    Author     : Mauricio Besson
*/
body{
    background-color: #ECF0F1;
    /*    margin-left: 10px;
        margin-right: 10px;*/

}
nav.navbar{
    border-radius: 0px;
    margin-left: 0px;
    margin-right: 0px;

}
nav ul{
    display: inline;
}
table{
    border-radius: 10px;
}
.btn-form{
    position: absolute;
    right: 15px;
}
.titulo-seccion{
    position: relative;
    bottom: 21px;
}
th{
    background-color: #bdc3c7;
}

label{
    font-size:18px;
}

footer{
    position: fixed;
    bottom: 0px;
    margin-left: 10px;
}

button a {
    color: #FFFFFF;
    background-color: #2ECC71;
}

.table-row-selected{
    background-color: white;
}

.login-form-row-container{
    /*max-width: 80%;*/
}

/* CONTENEDOR DE LA TABLA GROCERY CRUD*/
.dataTablesContainer{

}